* {
  font-family: "Roboto Thin", Roboto, Arial, sans-serif;
  color: #4e4f51;
}
svg > g.cartesianlayer > g > g.plot > g > g > g > g > path {
  clip-path: inset(0% 0% 0% 0% round 2px);
}
g.xy {
  cursor: pointer;
}

.screenTitle {
  padding-top: 15px;
  margin: 10px 20px;
}

.container {
  margin: 20px;
  padding: 25px 15px;
  border: 1px solid #999;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blueHeader {
  color: #053d5d;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  min-width: 40%;
}
.tableLoanComparisonWrapper .tableRow td:first-child {
  text-align: left;
}
.tableDivWrapper {
  display: inline-block;
  margin: 2px;
  border-radius: 2px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}
.tableWrapper {
  height: auto;
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
}
.headerRow {
  background-color: #eee;
  font-size: 15px;
  font-weight: bold;
  color: #2c2d30;
}
.tableRow {
  text-align: right;
}
.tableLoanComparisonWrapper tr:nth-child(odd) td,
.oddRow td {
  background-color: #eee;
}
.tableRow td {
  padding: 5px;
  font-size: 14px;
}
.tableTitle {
  color: #053d5d;
}
.titleContent {
  font-size: 28px;
  color: #053d5d;
  font-weight: 600;
  display: block;
  text-align: center;
}

.tableLoanComparisonWrapper .tableDivWrapper {
  width: 45%;
}
.amortizationTableWrapper,
.tableLoanComparisonWrapper {
  display: flex;
  justify-content: space-between;
}
.amortizationTableWrapper .tableDivWrapper {
  padding: 20px;
}
.greenNumber {
  color: #216c2a;
  font-weight: 600;
}
.darkWord {
  color: #4e4f51;
  font-weight: 600;
  font-size: 30px;
}
.toggleView {
  margin: 20px 0 30px 0;
  cursor: pointer;
}
.toggleView span {
  border: 1px solid #999;
  color: #111;
  -webkit-border-radius: 2px 0px 0px 2px;
  -moz-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  background-color: #eee;
  padding: 7px 15px;
  cursor: pointer;
}
.toggleView span:first-child {
  border-right: none;
}
.toggleView .selected {
  border-top: 1px solid #999;
  border-bottom: 3px solid #1d6c99 !important;
}
.tableWrapperSmallView tr:nth-child(odd) {
  background-color: #eee;
}
.tableWrapperSmallView td {
  font-size: 14px;
  padding: 5px;
}

.brHeaderWrapper {
  display: flex;
  padding: 2.25rem;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
    225.19deg,
    rgb(17, 58, 63) 0%,
    rgb(55, 102, 104) 100%
  );
  height: 190px;
}
.brHeader {
  max-width: 808px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
.brHeaderText {
  margin: 0px;
  font-family: Financier;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 1px;
  text-transform: none;
  color: rgb(255, 255, 255);

  font-weight: 300;
  text-align: center;
}
.brHeaderDesc {
  margin: 0px;
  font-family: Inter;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-transform: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: center;
}
.brBodyContainer {
  max-width: 1136px;
  margin: -50px auto 15rem auto;
}
.brResultSection {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.brResultTitle {
  margin: 0px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-transform: none;
  color: rgb(13, 33, 33);
  flex: 0 0 auto;
  width: unset;
  font-family: Inter;
  font-weight: 700;
}
.brResultValue {
  margin: 0px;
  font-family: Inter;

  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0.4px;
  text-transform: none;
  color: rgb(13, 33, 33);
  font-weight: 600;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.dragged {
  background-color: lightblue; /* Change background color when dragged */
}

.draggable:hover {
  background-color: lightgray; /* Change background color on hover */
}
.brAddDebt {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #8551dc;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: none;
  overflow: hidden;
  height: 48px;
  padding: 14px 16px;
}

.brResetDebt {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: none;
  color: rgb(133, 81, 220);
  font-weight: 500;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: none;
  overflow: hidden;
  font-family: Inter;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 2px;
  height: 48px;
  padding: 14px 16px;
}
